<h1>Edit <%= resource_name.to_s.humanize %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form_group">
    <div class="field">
      <%= f.label :name%><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" ,class:"col-lg-12 form-control" %>
    </div>
  </div>
  <div class="form_group">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-lg-12 form-control" %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>現在確認待ち <%= resource.unconfirmed_email %></div>
    <% end %>
  </div>

  <div class="form_group">
    <div class="field">
      <%= f.label :password %> <i>(変更したくない場合は空白のままにしてください</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class:"col-lg-12 form-control" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> 文字以上</em>
      <% end %>
    </div>
  </div>

  <div class="form_group">
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"col-lg-12 form-control" %>
    </div>
  </div>

  <div class="form_group">
    <div class="field">
      <%= f.label :current_password %> <i>(変更を確認するために現在のパスワードが必要です)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class:"col-lg-12 form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "ユーザ情報を更新する", class:"btn btn-success mt-2" %>
  </div>
<% end %>
