<h1>保存したタスク一覧</h1>
  <div class="row">
    <% @favorites.each do |favorite| %>
      <div class="col-lg-6 pr-3 pb-3">
        <% if favorite.task.expired? %>
        <div class="card border-danger">
          <div class="card-header bg-danger">
        <% else %>
        <div class="card border-success">
          <div class="card-header bg-success">
        <% end %>
            <%= favorite.task.title %>
          </div>
        <div class="card-body">
          <p><%= favorite.task.content %></p>
          <p>期限：<%= favorite.task.deadline.strftime("%Y年%m月%d日") %></p>
          <p>作成者：<%= favorite.task.user.name %></p>
          <% favorite.task.users.each do |user| %>
            <p>担当者：<%= user.name%></p>
          <% end %>
          <p>ステータス：<%= favorite.task.display_status %></p>
          <div>
            <%= link_to "詳細", task_path(favorite.task), class: "btn btn-light" %>
            <% if favorite.task.user == current_user %>
              <%= link_to "編集", edit_task_path(favorite.task), class: "btn btn-info" %>
              <%= link_to "削除", task_path(favorite.task), method: :delete, class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
