<div class="row">
  <div class="col-lg-12">
    <%= form_with(model: task, local: true) do |form| %>
      <% if task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(task.errors.count, "つの") %> エラーにより、このタスクは保存されませんでした。</h2>
          <ul>
            <% task.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form_group">
        <div class="field">
          <%= form.label :title %>
          <%= form.text_field :title, class:"col-lg-12 form-control" %>
        </div>
      </div>
      <div class="form_group">
        <div class="field">
          <%= form.label :content %>
          <%= form.text_field :content, class:"col-lg-12 form-control" %>
        </div>
      </div>
      <div class="form_group">
        <div class="field">
          <%= form.label :deadline %><br>
          <%= form.datetime_select :deadline%>
        </div>
      </div>

      <div class="form_group">
        <div class="field">
          <div class="status">
            <%= form.label :status %>
          </div>
          <div class="status">
            <%= form.radio_button :status, "0", class: "status" %>
          </div>
          <div class="status">
            未対応
          </div>
          <div class="status">
            <%= form.radio_button :status, "1", class: "status" %>
          </div>
          <div class="status">
            対応済み
          </div>
        </div>
      </div>
      <div class="actions">
        <%= form.submit '登録する', class: "btn btn-success mt-2" %>
      </div>
    <% end %>
  </div>
</div>
