<div class="row">
  <div class="col-lg-12">
    <%= form_with(model: task, local: true, id: :form) do |form| %>
      <% if task.errors.any? %>
        <div class="alert-danger", id="error_explanation">
          <ul>
            <% task.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form_group">
        <div class="field">
          <%= form.label :title %>
          <%= form.text_field :title, class:"col-lg-12 form-control" %>
        </div>
      </div>

      <div class="form_group">
        <div class="field">
          <%= form.label :content %>
          <%= form.text_field :content, class:"col-lg-12 form-control" %>
        </div>
      </div>

      <div class="form_group">
        <div class="status">
          <%= form.radio_button :assign, "1", class:"status", id:'1', checked:"checked" %>
        </div>

        <div class="status">
          個人
        </div>

        <div class="status">
          <%= form.radio_button :assign, "2", class:"status", id:'2' %>
        </div>

        <div class="status">
          チーム
        </div>

        <div id="user-select-box">
          <div class="input-group user-select-box-sub mb-2">
            <%= select_tag 'task[user_ids][]', options_from_collection_for_select(User.all, :id, :name, current_user.id.to_i), :class => 'form-control user_form layout-form', :id => 'task_user_id_1'  %>
            <span class="input-group-btn">
              <button type="button" id="user_additional_button" class="btn btn-info layout-btn">＋</button>
              <button type="button" id="user_delete_button" class="btn btn-info layout-btn">−</button>
            </span>
          </div>
        </div>

        <div id="teams" class="teams">
          <%= form.collection_select :team_id, Team.all, :id, :name, {prompt: "選択してください"}, :class => 'col-lg-12 team_id form-control mb-1', :id => 'team_id' %>
          <div id="team_user-select-box">

          </div>
        </div>
      </div>

      <%= form.label :deadline %><br>
      <div class="input-group form_group" data-target-input="nearest">

        <%= form.text_field :deadline, id: "deadline", value: DateTime.now.to_s(:datetime), class:  "form-control datepicker", data: { target: '#deadline'} %>
        <div class="input-group-append" data-target="#deadline" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>

      <div class="form_group">
        <div class="field">
          <div class="status">
            <%= form.label :status %>
          </div>

          <div class="status">
            <%= form.radio_button :status, "1", class: "status"%>
          </div>

          <div class="status">
            未対応
          </div>

          <div class="status">
            <%= form.radio_button :status, "2", class: "status" %>
          </div>

          <div class="status">
            対応済み
          </div>
        </div>
      </div>

      <div class="actions">
        <%= form.submit '登録する', class: "btn btn-success mt-2", id: "task_submit", onclick: "DisabledFalse()" %>
      </div>
    <% end %>
  </div>
</div>
