<div class="row">
  <div class="col-lg-12">
    <%= form_with(model: task, local: true, id: :form) do |form| %>
      <% if task.errors.any? %>
        <div class="alert-danger", id="error_explanation">
          <ul>
            <% task.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      

      <div class="form_group">
        <div class="field">
          <%= form.label :title %>
          <%= form.text_field :title, class:"col-lg-12 form-control" %>
        </div>
      </div>

      <div class="form_group">
        <div class="field">
          <%= form.label :content %>
          <%= form.text_field :content, class:"col-lg-12 form-control" %>
        </div>
      </div>

      <%if @project %>
        <div class="form_group">
          <div class="field">
            <%= form.label :user_id %>
            <%= form.collection_select :user_id, @project.users, :id, :name, {prompt: "選択してください"}, :class => 'col-lg-12 form-control mb-1' %>
            <%= form.hidden_field :project_id, value: @project.id, name: 'project_id' %> 
          </div>
        </div>
      <% else %>  
        <%= form.hidden_field :user_id, value: current_user.id%> 
      <% end %>  


      <%= form.label :deadline %><br>
      <div class="input-group form_group" data-target-input="nearest">

        <%= form.text_field :deadline, id: "deadline", value: DateTime.now.to_s(:datetime), class:  "form-control datepicker", data: { target: '#deadline'} %>
        <div class="input-group-append" data-target="#deadline" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>

      <div class="form_group">
        <div class="field">
          <div class="status">
            <%= form.label :status %>
          </div>

          <div class="status">
            <%= form.radio_button :status, "1", class: "status"%>
          </div>

          <div class="status">
            未対応
          </div>

          <div class="status">
            <%= form.radio_button :status, "2", class: "status" %>
          </div>

          <div class="status">
            対応済み
          </div>
        </div>
      </div>

      <div class="actions">
        <%= form.submit '登録する', class: "btn btn-success mt-2", id: "task_submit", onclick: "DisabledFalse()" %>
      </div>
    <% end %>
  </div>
</div>
