<%= javascript_include_tag 'tasks.js' %>
<h1>Edit Task</h1>
<div class="row">
  <div class="col-lg-12">
    <%= form_with(model: @task, local: true) do |form| %>
    <%= form.hidden_field :task_id, value: @task.id, id:'task_id' %>
    <%= form.hidden_field :team_id, value: @task.team_id, id:'task_team_id' %>
      <% if @task.errors.any? %>
        <div class="alert-danger", id="error_explanation">
          <h2><%= pluralize(@task.errors.count, "つの") %>エラーにより、このタスクは更新されませんでした</h2>
          <ul>
            <% @task.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form_group">
        <div class="field">
          <%= form.label :title %>
          <%= form.text_field :title, class: "col-lg-12 form-control"  %>
        </div>
      </div>

      <div class="form_group">
        <div class="field">
          <%= form.label :content %>
          <%= form.text_field :content, class: "col-lg-12 form-control"  %>
        </div>
      </div>

      <div class="form_group">
        <div class="status">
          <% if @task.assign == 1 %>
            <%= form.radio_button :assign, "1", class: "status", id:'3', value:"1", checked:"checked" %>
          <% elsif @task.assign == 2 %>
            <%= form.radio_button :assign, "1", class: "status", id:'3', value:"2" %>
          <% end %>
        </div>

        <div class="status">
          個人
        </div>

        <div class="status">
          <% if @task.assign == 1 %>
            <%= form.radio_button :assign, "2", class:"status", id:'4' %>
          <% elsif @task.assign == 2 %>
          <%= form.radio_button :assign, "2", class:"status", id:'4', checked:"checked" %>
          <% end %>
        </div>

        <div class="status">
          チーム
        </div>
        <div id="edit-user">
          <div id="user-select-box" class="edit">
            <div class="input-group user-select-box-sub mb-2">
              <%= select_tag 'task[user_ids][]', options_from_collection_for_select(User.all, :id, :name, @task.users.first.id.to_i), :class => 'form-control user_form layout-form edit_task_id_0', :id => "task_user_id_0" %>
              <span class="input-group-btn">
                <button type="button" id="user_edit_additional_button" class="btn btn-info layout-btn">＋</button>
                <button type="button" id="user_edit_delete_button" class="btn btn-info layout-btn">−</button>
              </span>
            </div>
          </div>
          <div id="teams">
            <div class="input-group">
              <% if @task.team_id.nil? %>
                <%= form.collection_select :team_id, Team.all, :id, :name, {prompt: "選択してください"}, :class => 'col-lg-12 team_id form-control mb-1', :id => 'team_id' %>
              <% else %>
                <%= form.collection_select :team_id, Team.all, :id, :name, {}, :selected => Team.where(id: @task.team_id).first, :class => 'col-lg-12 team_id form-control mb-1', :id => 'team_id' %>
              <% end %>

            </div>
            <div id="team_edit-select-box"></div>
          </div>
      </div>
        <%= form.label :deadline %><br>
        <div class="input-group form_group" data-target-input="nearest">

          <%= form.text_field :deadline, id: "deadline", value: @task.deadline, class:  "form-control datepicker", data: { target: '#deadline'} %>
          <div class="input-group-append" data-target="#deadline" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>

      <div class="form_group">
        <div class="field">
          <%= form.label :status %>
            <%= form.radio_button :status, "1" %>未対応
            <%= form.radio_button :status, "2" %>対応中
            <%= form.radio_button :status, "3" %>完了
        </div>
      </div>

      <div class="actions">
        <%= form.submit '更新する', class: "btn btn-success mr-2", id:"task-update", onclick: "EditDisabled()"  %>
        <%= link_to '一覧へ戻る', root_path, class:"btn btn-light" %>
      </div>
    <% end %>
  </div>
</div>
