<h1>Task List</h1>
  <div class="row">
    <% @tasks.each do |task| %>
      <div class="col-lg-6 pr-3 pb-3">
        <% if task.expired? %>
        <div class="card border-danger">
          <div class="card-header bg-danger">
        <% else %>
        <div class="card border-success">
          <div class="card-header bg-success">
        <% end %>
            <%= task.title %>
          </div>
        <div class="card-body">
          <p><%= task.content %></p>
          <p>期限：<%= task.deadline.strftime("%Y年%m月%d日") %></p>
          <p>作成者：<%= link_to task.user.name, user_path(task.user), class:"no-link" %></p>
          <% unless task.team_id.nil? %>
            <p>チーム：<%= Team.where(id: task.team_id).first.name %></p>
          <% end %>
          <% unless task.users.empty? %>
            <p>担当者：
              <% task.users.each do |user| %>
                <%= link_to user.name, user_path(user), class:"no-link"%>／
              <% end %>
            </p>
          <% end %>
          <p>ステータス：<%= task.display_status %></p>
          <div>
            <%= link_to "詳細", task_path(task), class: "btn btn-light" %>
            <% if task.user == current_user %>
              <%= link_to "編集", edit_task_path(task), class: "btn btn-info" %>
              <%= link_to "削除", task_path(task), method: :delete, data: { confirm: '本当に削除しますか?',cancel: 'やめる',
              commit: '削除する'}, title: '削除確認', class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
