<div class="card bg-light col-lg-10 offset-md-1 mb-5 mt-5">
  <div class="card-body">
    <h2>
      <%= @task.title %>
    </h2>
    <p><%= @task.content %></p>
    <p>期限：<%= @task.deadline.strftime("%Y-%m-%d %H:%M:%S") %></p>
    <p>作成者：<%= link_to @task.user.name, user_path(@task.user), class:"no-link" %></p>
    <% if @team != nil %>
      <P>担当チーム：<%= link_to @team.name, team_path(@team), class:"no-link" %></P>
    <% end %>
    <% unless @task.users.empty? %>
      <p>担当者：
        <% @task.users.each do |user| %>
          <%= link_to user.name, user_path(user), class:"no-link"%>／
        <% end %>
      </p>
    <% end %>
    <p>ステータス：<%= @task.display_status %></p>
    <%= link_to '一覧へ戻る', root_path, class: "btn btn-light" %>
    <%if @task.current_user?(current_user) %>
      <%= link_to '編集', edit_task_path(@task), class: "btn btn-info" %>
      <%= link_to '削除', task_path(@task), class: "btn btn-danger", method: :delete %>
    <% else %>
      <% if @task.favorite_by?(current_user) %>
        <%= link_to '保存解除',task_favorite_path(@task, @task.favorite_by?(current_user)), method: :delete, data: { confirm: '本当に解除しますか?',cancel: 'やめる',
        commit: '解除する'}, title: '保存解除確認', class: "btn btn-success" %>
      <% else %>
        <%= link_to '保存する', task_favorites_path(@task),method: :post, class: "btn btn-success" %>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <div class="col-lg-10 offset-md-1 mb-5 mt-5 border-secondary">
    <p><i class="fas fa-comment"></i>comment</p>
    <% @comments.each do |comment| %>
      <div class="box clearfix col-lg-10 offset-md-1">
        <% if comment.user == current_user %>
          <div class="mycomment">
            <div class="my-say">
              <p><%= comment.content %></p>
              <div class="link">
                <%= link_to '編集', edit_comment_path(comment), class:"btn-light edit-comment" %>
                <%= link_to '削除', comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか?',cancel: 'やめる',
                commit: '削除する'}, class:"btn-light delete-comment" %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="comment-name">
            <p><%= comment.user.name %></p>
          </div>
          <div class="chatting">
            <div class="comment-top">
              <p><%= comment.content %></p>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="comment-new">
      <%= form_for @comment do |f| %>
        <%= f.text_area :content, class:"col-lg-10 offset-md-1" %>
        <%= f.hidden_field :task_id, value: @task.id %>
        <%= f.submit 'コメント',  class: "col-lg-10 offset-md-1 btn btn-outline-dark mb-2"%>
      <% end %>
    </div>
  </div>
</div>
