<div class="card bg-light col-lg-10 offset-md-1 mb-5 mt-5">
  <div class="card-body">
    <h2>
      <%= @task.title %>
    </h2>
    <p><%= @task.content %></p>
    <p>期限：<%= @task.deadline.strftime("%Y-%m-%d %H:%M:%S") %></p>
    <p>担当者：<%= link_to @task.user.name, user_path(@task.user), class:"no-link" %></p>
    <% unless @task.project_id.nil? %>
      <P>プロジェクト：<%= link_to Project.find(@task.project_id).name, project_path(@task.project_id), class:"no-link" %></P>
    <% end %>
    
    <p>ステータス：<%= @task.display_status %></p>
    <%= link_to '一覧へ戻る', root_path, class: "btn btn-light" %>
    <% if @task.favorite_by?(current_user) %>
      <%= link_to '保存解除',task_favorite_path(@task, @task.favorite_by?(current_user)), method: :delete, data: { confirm: '本当に解除しますか?',cancel: 'やめる',
      commit: '解除する'}, title: '保存解除確認', class: "btn btn-success" %>
    <% else %>
      <%= link_to '保存する', task_favorites_path(@task),method: :post, class: "btn btn-success" %>
    <% end %>
    <%if @task.current_user?(current_user) %>
      <%= link_to '編集', edit_task_path(@task), class: "btn btn-info" %>
      <%= link_to '削除', task_path(@task), class: "btn btn-danger", method: :delete %>
    <% end %>
  </div>
</div>

<div class="col-lg-10 offset-md-1 mb-5 mt-5 border-secondary">
  <p><i class="fas fa-comment"></i>comment</p>
  <% @comments.each_with_index do |comment, i|  %>
    <div class="box clearfix col-lg-10 offset-md-1">
      <% if comment.user == current_user %>
        <div class="mycomment">
          <div class="n<%=i%>" id="show-mode">
            <div class="my-say">
              <p><%= comment.content %></p>
              <div class="link">
              <button type="button" id="edit-mode_<%=i%>" class="btn-light edit-comment">編集</button>
                <%= link_to '削除', task_comment_path(task_id: @task.id, id: comment.id), method: :delete, data: { confirm: '本当に削除しますか?',cancel: 'やめる',
                  commit: '削除する'}, class:"btn-light delete-comment" %>
              </div>
            </div>
          </div>
          <div class="e<%=i%>" id="edit-mode">
            <div class="my-say"> 
              <%= form_for(comment, url: task_comment_path(task_id: @task.id,id: comment.id, :anchor => 'comment-new')) do |f| %>
                <%= f.text_area :content, class:"col-lg-10 offset-md-1 js-count"%>
                <%= hidden_field_tag :type, comment.type %>
                <%= f.submit '編集する', class: "col-lg-10 offset-md-1 btn btn-outline-dark mb-2 submit-edit"%>
              <% end %>
            </div>
          </div>
         
        </div>
      <% else %>
        <div class="comment-name ">
        <div class="edit-comment"></div>
          <p><%= comment.user.name %></p>
        </div>
        <div class="chatting">
          <div class="comment-top">
            <p><%= comment.content %></p>
            </div>
        </div>
      <% end %>
    </div>
  <% end %> 
  <div class="comment-new" id="comment-new">
    <%= form_for @comment, url: task_comments_path(task_id: @task.id, :anchor => 'comment-new') do |f| %>
      <% if flash[:task] %>
        <div id="alert">
          <p class="alert-success col-lg-10 offset-md-1", id="notice"><%= flash[:task] %></p>
        </div>
      <% end %>
      <% if @comment.errors.any? %>
        <div class="alert-danger col-lg-10 offset-md-1", id="error_explanation">
          <% @comment.errors.full_messages.each do |message| %>
            <p><%= message %></p>
          <% end %>
        </div>
      <% end %> 
      <%= f.text_area :content, class:"col-lg-10 offset-md-1" %>
      <%= hidden_field_tag :type, @comment.type %>
      <%= f.submit 'コメント', class: "col-lg-10 offset-md-1 btn btn-outline-dark mb-2"%>
    <% end %>
  </div>
</div>