<div class="col-lg-6 project-tema">
  <div class="card bg-light mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-8">
          <div>
            テーマ：<%= project.description %>
          </div>
          <div>
            管理者：<%= project.user.name %>
          </div>
          <div>
            メンバー：
            <% project.users.each_with_index do |user, i| %>
              <%= link_to user.name, user_path(user), class:"no-link" %>
              <% unless i == project.users.length - 1 %>
                ／
              <% end %>
            <% end %>
          </div>
        </div>
        <% if project.user == current_user %>
          <div class="col-lg-4">
            <%= link_to '編集', edit_project_path(project), class: "btn btn-info mt-2" %>
            <%= link_to '削除', project_path(project), method: :delete, data: { confirm: '本当に削除しますか?',cancel: 'やめる',commit: '削除する'}, title: '削除確認', class: "btn btn-danger mt-2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div> 